.bigContainer {
  background-color: hsla(250, 10%, 8%);
  display: grid;
  grid-template-rows: 100px auto 100px;
  padding: 25px;
  padding-top: 115px;
}

.filters {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  padding: 5px;
  width: 170px;
  border-radius: 3px;
}

@media (max-width: 990px) {
  .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .buttons {
    padding: 3px;
    width: 50px;
    font-size: 12px;
  }
}
